<div>
  <h3> D3js Part1 </h3>
  <img src="img/circle_alignment.png">
  <ul>
    <li><a href="#case-01-タグ用意">Case01 - タグ用意</a></li>
    <li><a href="#case-02-タグ少ない">Case02 - タグ少ない</a></li>
    <li><a href="#case-03-データ少ない">Case03 - データ少ない</a></li>
    <li><a href="#case-04-関数化">Case04 - 関数化</a></li>
    <li><a href="#case-05-テキストを入れる">Case05 - テキストを入れる</a></li>
    <li><a href="#case-06-animation">Case06 - Animation</a></li>
    <li><a href="#case-07-relative-radius">Case07 - Relative Radius</a></li>
    <li><p>Case08 - 装飾</p>
      <ul>
        <li><a href="#case-08-1-random-color">1 - Random Color</a></li>
        <li><a href="#case-08-2-built-in-color">2 - Built-in Color</a></li>
        <li><a href="#case-08-3-linear-color-scale">3 - Linear Color Scale</a></li>
      </ul>
    </li>
    <li><a href="#case-09-click">Case09 - Click</a></li>
    <li><a href="#case-10-input-area">Case10 - Input Area</a></li>
  </ul>
</div>
