<aside>
  <h3> D3js Part1 </h3>
  <img src="img/circle_alignment.png">
  <ul class="sidebar-ul">
    <li><a href="#case-01-タグ用意">Case01 - タグ用意</a></li>
    <li><a href="#case-02-タグ少ない">Case02 - タグ少ない</a></li>
    <li><a href="#case-03-データ少ない">Case03 - データ少ない</a></li>
    <li><a href="#込み入った話">CaseXX - 込み入った話</a></li>
    <li><a href="#case-04-関数化">Case04 - 関数化</a></li>
    <li><a href="#case-05-テキストを入れる">Case05 - テキストを入れる</a></li>
    <li><a href="#case-06-animation">Case06 - Animation</a></li>
    <li><a href="#case-07-relative-radius">Case07 - Relative Radius</a></li>
    <li><a href="#case-08-color">Case08 - Color</a>
      <ul>
        <li><a href="#case-08-1-random-color">1 - Random Color</a></li>
        <li><a href="#case-08-2-color-scheme">2 - Color Scheme</a></li>
        <li><a href="#case-08-3-linear-color-scale">3 - Linear Color Scale</a></li>
      </ul>
    </li>
    <li><a href="#case-09-click">Case09 - Click</a>
      <ul>
        <li><a href="#1st-method-rebind">1st Method - Rebind</a></li>
        <li><a href="#2nd-method-update-directly">2nd Method - Update Directly</a></li>
        <li><a href="#interactive-process">Interactive Process</a></li>
      </ul>
    </li>
    <li><a href="#case-10-input-area">Case10 - Input Area</a></li>
    <li><a href="#case-11-random-numbers">Case11 - Random Numbers</a></li>
    <li><a href="#まとめ">まとめ</a></li>
  </ul>
</aside>
