html {
  font: 14px 'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  //font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}


header {
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: flex-end;
  border-bottom: 1px solid #ccc;
  nav {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  nav a{
    margin-left: 10px;
    display: block;
    font-size: 18px;
  }
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.main {
  width: 70%;
  box-sizing: border-box;
  margin: 0 auto;
  h1 {
    color: #000;
  }
}
.sidebar {
  width: 20%;
  margin: 0 auto;
  position: sticky;
  position: -webkit-sticky;
  top: 30px;
  align-self: flex-start;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  ul:first-child {
    list-style-type: none;
    padding: 0;
    margin: 50px 0 0 0;
    li {
      font-size: 16px;
      margin-top: 10px;
    }
  }
}

img {
  max-width: 80%;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
  margin:0 0 20px;
}

@media print, screen and (max-width: 720px) {
  pre, code {
    word-wrap:normal;
  }
}


aside {
  h3 {
    color: #000;
  }
  ul {
    list-style-type: none;
    li {
      margin-top: 10px;
    }
    li:first-child{
      margin-top: 0px;
    }
    a {
      text-decoration: none;
      color: #333;
      font-size: 1.1em;
    }
    p {
      font-size: 1.1em;
    }
  }
}

