.note {
  padding-left: 1em;
  text-indent: -1em;
}
.flex-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.flex-container-start{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.console {
  background: #000;
  color: #fff;
  padding: 5px;
  font-family: "MS Gothic";
}
.console p {
  padding: 0;
  margin: 0;
}
.indent {
  text-indent: 1em;
}
