.css-sample h1, .css-sample h2 {
  border-left: 5px solid #1E88E5;
  border-bottom: 2px dotted #1E88E5;
  padding-left: 10px;
}

.css-sample img {
  display: block;
  margin: 0 auto;
}

.css-sample table {
  border-collapse: collapse;
  margin: 0 auto;
}
.css-sample th, .css-sample td{
  padding: 5px;
  font-size: 18px;
}

.css-sample th {
  text-align: center;
}

.css-sample td {
  text-align: right;
}
.css-sample th {
  background-color: #2196F3;
  color: white;
}

.css-sample tr:nth-child(odd) {
  background-color: #E3F2FD;
}

.css-sample ul{
  display: inline-block;
  list-style-type: none;
  border: 1px solid #888;
  background-color: #eee;
  color: #000;
  margin: 0 0 0 20px;
  padding: 10px 20px;
  font-weight: bold;
}

.css-sample li {
  margin-top: 5px;
}

.css-sample textarea {
  resize: none;
  width: 200px;
  height: 200px;
}

.css-sample form p {
  padding: 0;
  margin: 0;
}

.css-sample form input[type="button"] {
  background-color: #2196F3; 
  width: 50px;
  height: 25px;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 12px;
}
.css-sample form input[type="button"]:hover {
  color: #2196F3; 
  background-color: white;
}
